.hamburger-menu {
    transition: .3s;
    position: fixed;
    top: -50%;
    left: 0;
    right: 0;
    display: flex;
    &--open {
        height: 100%;
        z-index: 4;
        top: 0;
        background-color: #E16D2B;
        opacity: .97;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
    }

    &__head {
        padding-bottom: 1em;
        border-bottom: solid 1px rgba(#fff,.5);
    }
    &__links {
        list-style: none;
        padding: 0;

        li > a {
            font-weight: bold;
            font-size: 36px;
            color: #ECCEBD;
        }
    }

    &__promote {
        color: white;

         a {
            color: #DDD244;
        }
    }
}
