.hamburger-menu {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 4;
    top: 0;
    background-color: #E16D2B;
    opacity: .97;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;


    &__head {
        padding-bottom: 1em;
        border-bottom: solid 1px #fff;
    }
    &__links {
        list-style: none;
        padding: 0;

        li > a {
            font-weight: bold;
            font-size: 36px;
            color: #ECCEBD;
        }
    }

    &__promote {
        color: white;

         a {
            color: #DDD244;
        }
    }
}
