// Typography
// ------------------------------------------------------------------------ //

$base-font-size     : 15px;
$base-font-color    : rgba(0,0,0,0.8);
$base-line-height   : 1.5;
$base-font-family   : 'Open Sans', sans-serif;
$space              : $base-line-height * 1em;

// Colors
// ------------------------------------------------------------------------ //
// Biru kitabisa
// $primary-color			: #35a7ff;

//Biru
$blue-light         : #6cbfff;
$blue-medium        : #47afff;
$blue-primary       : #35a7ff;
$blue-deep          : #3198e8;
$blue-dark          : #277aba;


$black              : #000;

$pink               : pink;


// Break Points
// ------------------------------------------------------------------------ //
//Mulai dari iphone keatas
$mobileUp              : "screen and (min-width: 20em)";
$mobileUp_portrait     : "screen and (min-width: 20em) and (orientation: portrait)";
$mobileUp_landscape    : "screen and (min-width: 20em) and (orientation: landscape)";

//Mulai dari phablet ke atas
$phabletUp              : "screen and (min-width: 520px)";
$phabletUp_portrait     : "screen and (min-width: 520px) and (orientation: portrait)";
$phabletUp_landscape    : "screen and (min-width: 520px) and (orientation: landscape)";

//Mobile saja
$mobileOnly             : "screen and (max-width: 767px)";
$mobileOnly_portrait    : "screen and (max-width: 767px) and (orientation: portrait)";

//Mulai dari tablet ke atas
$tabletUp             : "screen and (min-width: 48em)";
$tabletUp_portrait    : "screen and (min-width: 48em) and (orientation: portrait)";
$tabletUp_landscape   : "screen and (min-width: 48em) and (orientation: landscape)";

//Mulai dari netbook ke bawah
$netbookDown        : "screen and (max-width: 959px)";

//Mulai dari netbook ke atas
$netbookUp          : "screen and (min-width: 60em)";

//Mulai dari notebook ke bawah
$notebookDown			: "screen and (max-width: 1199px)";

//Mulai dari notebook ke atas
$notebookUp				: "screen and (min-width: 80em)";

//Mulai dari monitor besar(resolusi 1920) ke atas
$xtraWideUp 			: "screen and (min-width: 90em)";
