@import "../../assets/scss/utilities/variables.scss";

.member-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    hr {
        margin: 0;
        width: 32px;
        background-color: #D8D8D8;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-image: none;
        height: 4px;
    }

    p {
        margin: .6em 0 .4em 0;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: .6px;
    }
}
.member-item__img {
    width: 112px;
    height: 112px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;

    @media #{$mobileOnly}{
        width: 96px;
        height: 96px;
    }
}

.member-item__socmed {
    padding: 1em;
}

.member-item__socmed--item {
    width: 22px;
    height: 22px;
    background-color: #D8D8D8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:         all 600ms cubic-bezier(0.23, 1, 0.32, 1);

    * {
        width: 12px;
        color: white;
    }

    &:hover {
        background-color: #E06C2A;
    }
}