#heroMeetup {
    height: 460px;
    background-color: #FFFBF9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-meetup__caption {
    color: #E06D2A;
    position: relative;
    padding-left: 18px;
    margin: 0  0  0;

    &:after {
        content: '';
        position: absolute;
        left: 0px;
        width: 10px;
        height: 4px;
        background-color: #E06D2A;
        top: 50%;
        transform: translateY(-50%);
    }
}

.hero-meetup__title {
    font-size: 24px;
    margin: .6em 0;
    line-height: 28px;
}

.hero-meetup__poster {
    margin: 0;
    width: 100%;
}