@import '../../assets/scss/utilities/variables.scss';

.meetup-section {
    margin-top: 2em;
    padding-bottom: 1em;

    .container {
        padding: 4em 0;
    }

    .text-section {
        display: table;
        padding: .9em 1.8em;
        color: white;
        margin: -2em auto 0 auto;
        position: relative;
        z-index: 2;

        

        &:before,
        &:after {
            content: '';
            position: absolute;
        }
        &:after {
            right: -.7em;
            width: 150px;
            height: 44px;
            background-color: #E3E0E0;
            z-index: -2;
            top: 1em;
        }

        &:before {
            width: 100%;
            height: 100%;
            background-color: #8C8989;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    @media #{$mobileOnly}{
        padding-bottom: 6em !important;

        .container {
            width: 100%;
            position: relative;

            .flex-container__item--2:nth-child(1) {
                order: 2;
                padding: 1.4em;
            }

            :nth-child(2) > button {
                content: '';
                position: absolute;
                width: 80%;
                left: 50%;
                bottom: 0%;
                transform: translateX(-50%);
            }
        }
    }
}


.meetup-section__speaker {
    display: flex;
    text-align: left;
    align-items: center;

    &-item {
        margin-right: 1.4em;

        h5,
        p {
            margin: 0;
        }

        h5 {
            font-size: 18px;
            color: #5A5A5A;
        }

        p {
            color: #9C9C9C;
            font-size: 14px;
            line-height: 16px;
        }
    }

    @media #{$mobileOnly}{
        flex-direction: column;
        align-items: flex-start;

        > .meetup-section__speaker-item {
            margin-bottom: .5em;

            > h5 {
                font-size: 14px;
            }

            > p {
                font-size: 12px;
            }
        }
    }
}

.meetup-section__title {
    font-family: 'Archivo', sans-serif;
    color: #5A5A5A;
    font-weight: bold;
    line-height: 32px;
    font-size: 32px;
    margin: .6em 0;
    position: relative;

    @media #{$mobileOnly}{
        font-size: 28px;
        margin: 0 0 1em 0;

        &:after {
            content: '';
            position: absolute;
            bottom: -.5em;
            width: 65px;
            height: 6px;
            left: 0;
            background-color: #E6E1E1;
        }
    }
}

.meetup-section__time {
    margin-top: 1em;

    p {
        background-color: #5A5A5A;
        padding: .5em .8em;
        color: white;
        float: left;
        clear: left;
        margin: .2em 0;
    }

    @media #{$mobileOnly}{
        > p { font-size: 16px; }
    }
}

.meetup-section__location {
    color: #E16D2B;
    text-align: left;
    font-weight: 600;
    margin: 1em 0 0 0;
    display: flex;

    :first-child {
        height: 20px;
        margin-right: .5em;
    }

    a {
        font-size: 18px;
        padding: 0;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            border-bottom: 2px solid #FFB88E;
            opacity: 0.3; 
            left: 0;
            width: 100%;
            bottom: -4px;
            -webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
            transition:         all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        &:hover {
            &:after {
                border-bottom: 12px solid #FFB88E; 
                opacity: 0.3;
            }
        }

    }

    @media #{$mobileOnly}{
        font-size: 14px;
        a { 
            font-size: 14px;
            
            &:after { border-bottom: 2px dashed #FFB88E; }
        }
    }
}

/* set position on mobile */ 
@media #{$mobileOnly}{
    .meetup-section__title { order : 1; }
    .meetup-section__speaker { order: 2; }
    .meetup-section__time { order: 3; }
    .meetup-section__location { order: 4; }
}