@import "../../assets/scss/utilities/variables";

.m-card {
	position: relative;
	border-radius: 3px;
	width: 100%;
    background-color: white;
    cursor: pointer;

		.m-card__body {
			padding: 4px 0 16px 0;
        }
        
        &:hover {
            .m-card__head {
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
            }

            .m-card__title {
                text-decoration: underline;
            }
        }
}

.m-card__head {
	position: relative;
	background: white;
    height: 152px;
    overflow: hidden;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }

    @media #{$mobileOnly}{
        border-radius: 0;
        height: 220px;
    }
}


.m-card__title {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.33;
    min-height: 3.9em;
    color: #3D3B3B;
}

.m-card__body {
    @media #{$mobileOnly}{
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
}



.m-card__subtitle {
	margin-top: 6px;
}

.m-card__subtitle-wording {
	display: inline-block; // width: calc(100% - 46px);
	width: 100%;
	vertical-align: middle;
	margin-left: 2px;
	margin-bottom: 6px;
}

.m-card__body {
	position: relative;
	padding: 16px 16px;
	border-bottom: 0; // min-height: 200px;
	// margin-bottom: 65px;
	word-wrap: break-word;
}






.m-card__href {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}


.m-card__label {
    font-size: 12px;
    color: #868686;

    &:hover {
        color: #595656;
    }
}


.m-card__tag {
    position: absolute;
    margin: 0;
    background-color: white;
    right: 8px;
    bottom: 1em;
    color: #E06D2A;
    font-size: 10px;
    padding: .1em .9em;
    border-radius: 3px;

}