@import "../../assets/scss/utilities/variables.scss";


#description {
    margin-top: 3em;
    padding-bottom: 8em;
}

.description__info {
    display: flex;
    justify-content: center;

    >p {
        position: relative;
        font-weight: 500;
        color: #6B6767;

        &:after {
            content: '';
            position: absolute;
            height: 94px;
            width: 1px;
            border-left: 1px solid #E3E3E3;
            top: -80px;
            left: -1.2em;
        }
    }
}

.description__section {
    display: flex;
    text-align: left;
    margin-bottom: 6em;

    &.illustrate-right,
    &:nth-child(even){

        .description__section-illustrate {
            order: 2;
            padding-right: 0;
            padding-left: 7em;
        }
    }

    @media #{$mobileOnly}{
        flex-direction: column;
        padding: 1.1em;
        order: 1;
        margin-bottom: 2em;

        &.illustrate-right,
        &:nth-child(even){
            .description__section-illustrate {
                order: 2;
                padding: 0 1em; 
            }
        }
    }
}

.description__section-illustrate {
    flex-shrink: 0;
    padding-right: 7em;
    width: 320px;

    @media #{$mobileOnly}{
        padding: 0 1em;
        width: auto;
    }
}

.description__section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > h3 {
        position: relative;

        &:not(.without-rect){
            &:after {
                content: '';
                position: absolute;
                width: 48px;
                height: 48px;
                background-color: #F2F2F2;
                left: -16px;
                z-index: -1;
                transform: translateY(-50%);
                top: 50%;
            }
        }
    }

    > p {
        font-size: 18px;
        color: #888585;
        margin-bottom: .3em;
    }

    > button {
        align-self: flex-start;
    }

    @media #{$mobileOnly}{
        text-align: center;
        order: 2;

        > h3 {
            margin-top: .6em;
            
            &:after {
                background-color: #E6E1E1;
                width: 70px;
                height: 6px;
                left: 50%;
                transform: translateX(-50%);
                top: calc(100% + .2em );

            }
        }
        > p {
            font-size: 16px;
        }

        > button {
            align-self: center;
        }
    }
}