//text color
// text font weight
.text-slim {
    font-weight: 400;
}

.text-semibold {
    font-weight: 600;
}

.text-bold {
    font-weight: 700 !important;
}

.text-normal {
    font-weight: normal;
}

// text size
@for $font-size from 10 through 52 {
    .text-#{$font-size} {
        font-size: 0px + $font-size;
    }
}

//align
.align-center {
    text-align: center;
    &--mobile {
        text-align: left;
        @media #{$mobileUp} {
            text-align: center;
        }
    }
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-justify {
    text-align: justify;
}

.text-breakall {
    word-break: break-all;
}

.text-breakword {
    word-break: break-word;
}

.with-border-left {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: -8px;
        top: -1px;
        height: 28px;
        width: 1px;
        background-color: #D8D8D8;
    }
}

.text-title {
    font-family: 'Archivo', sans-serif;
    font-size: 32px;
    font-weight: bolder;
    color: #4D4D4D;
    line-height: 32px;
}

.text-section {
    color: #6B6767;
    font-size: 16px;
    font-weight: 600;
}