@import "../../assets/scss/utilities/variables.scss";

#headerApp {
    position: fixed;
    width: 100%;
    height:72px;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E9E4E4;
    top: 0;

    .header__logo {
        height: 32px;
        margin-left: 3em;
    }

    @media #{$mobileOnly}{
        .header__logo {
            margin-left: 1.2em;
        }
    }

    &.active {
        background-color: white;
    }

    &.no-border {
        border-bottom: 0;
    }
}


.header__links {
    display: flex;
    list-style: none;
    margin: 0 3em 0 0;

    > li {
        margin: 0 0 0 1.6em;

        > a {
            color: #9F9D9D;
        }

        &:hover {
            > a { 
                color: #E06D2A;
            }
        }
    }

    @media #{$mobileOnly}{
        display: none;
    }
}

.header__hamburger-menu {
    display: none;
    height: 2px;
    background-color: #626060;

    @media #{$mobileOnly}{
        display: inline-flex;
    }
}
